.my_swiper .swiper-slide {
   padding-bottom: 100px;
}

.my_swiper .swiper-pagination {
   position: absolute;
   left: 0;
   width: 100%;
   text-align: center;
   z-index: 10;
}

.my_swiper .swiper-pagination-bullet {
   background: #4d4d4d;
   opacity: 1;
   height: 0.5rem;
   width: 0.5rem;
   margin-right: 0.5rem;
}

.my_swiper .swiper-pagination-bullet-active {
   background: #ffd05b !important;
   transform: scale(2);
}
